@import "tailwindcss";

:root {
  --color-primary: #1d4ed8;
  --color-secondary: #d2dcf7;
  --color-dark: #121212;
  --color-darkgrey: #6e7191;
  --color-ligthgrey: #d6d8e7;
  --color-grey: #a0a3bd;
  --color-ligth: #fff;
  --color-pink: #f589d7;
  --color-blue: #2563eb;
  --color-success: #008000;
}

@theme {
  --font-display: "Mulish", sans-serif;
}

@layer base {
  .bg-color-primary {
    background-color: var(--color-primary);
  }

  .text-color-primary {
    color: var(--color-primary);
  }

  .border-primary {
    border: 1px solid var(--color-primary);
  }

  .bg-color-blue {
    background-color: var(--color-blue);
  }

  .text-color-blue {
    color: var(--color-blue);
  }

  .border-blue {
    border: 1px solid var(--color-blue);
  }

  .bg-color-ligth {
    background-color: var(--color-ligth);
  }

  .text-color-ligth {
    color: var(--color-ligth);
  }

  .border-ligth {
    border: 1px solid var(--color-ligth);
  }

  .bg-color-secondary {
    background-color: var(--color-secondary);
  }

  .text-color-secondary {
    color: var(--color-secondary);
  }

  .border-secondary {
    border: 1px solid var(--color-secondary);
  }

  .bg-color-dark {
    background-color: var(--color-dark);
  }

  .text-color-dark {
    color: var(--color-dark);
  }

  .border-dark {
    border: 1px solid var(--color-dark);
  }

  .bg-color-darkgrey {
    background-color: var(--color-darkgrey);
  }

  .text-color-darkgrey {
    color: var(--color-darkgrey);
  }

  .border-darkgrey {
    border: 1px solid var(--color-darkgrey);
  }

  .bg-color-ligthgrey {
    background-color: var(--color-ligthgrey);
  }

  .text-color-ligthgrey {
    color: var(--color-ligthgrey);
  }

  .border-ligthgrey {
    border: 1px solid var(--color-ligthgrey);
  }

  .bg-color-grey {
    background-color: var(--color-grey);
  }

  .text-color-grey {
    color: var(--color-grey);
  }

  .border-grey {
    border: 1px solid var(--color-grey);
  }

  .bg-color-pink {
    background-color: var(--color-pink);
  }

  .text-color-pink {
    color: var(--color-pink);
  }

  .border-pink {
    border: 1px solid var(--color-pink);
  }

  .bg-color-success {
    background-color: var(--color-success);
  }

  .text-color-success {
    color: var(--color-success);
  }

  .border-success {
    border: 1px solid var(--color-success);
  }

  /* header */
  .hamburger {
    @apply w-max h-max flex justify-center items-end flex-col gap-[5px] mr-4 cursor-pointer lg:hidden;
  }

  header {
    @apply h-[70px] flex justify-between items-center;
  }

  .bar {
    @apply inline-block w-[25px] h-[3px] rounded-lg bg-slate-700 transition-all duration-100;
  }

  .button-md {
    @apply py-2 px-3.5 rounded-md cursor-pointer hover:brightness-[0.95];
  }

  .nav-bar {
    @apply absolute top-[70px] right-0 left-0 transition-all duration-100 lg:static;
  }

  /* end header */

  /* home page */
  h5 {
    @apply text-sm font-extrabold;
  }

  .box-card {
    @apply flex gap-8 px-16 w-full overflow-scroll snap-x mt-5;
  }

  .card {
    @apply flex flex-col gap-2 max-w-60 snap-center min-w-[250px];
  }

  .card-img-box {
    @apply relative rounded-lg overflow-hidden transition-all duration-100 after:content-[''] after:absolute after:top-0 after:left-0 after:right-0 after:bottom-0 after:bg-slate-900 after:opacity-0 hover:after:opacity-60 after:transition-all after:duration-100;
  }

  .card-btn-details {
    @apply absolute top-1/2 left-1/2 -translate-1/2 w-9/12 py-2 px-4 bg-transparent rounded-md  border border-slate-50 -translate-y-[35px] z-10 opacity-0 cursor-pointer transition-all duration-100 hover:scale-[1.06] active:scale-100;
  }

  .card-btn-ticket {
    @apply absolute top-1/2 left-1/2 w-9/12 py-2 px-4 rounded-md -translate-1/2 translate-y-[35px] z-10 opacity-0 cursor-pointer transition-all duration-100  hover:scale-[1.06] active:scale-100;
  }

  .label {
    @apply text-sm font-medium;
  }

  .input {
    @apply border border-slate-400 py-2 px-2 rounded-md focus:outline-blue-500;
  }

  .button-lg {
    @apply w-full py-2 px-2 rounded-sm transition-all duration-100 cursor-pointer active:scale-[0.98] md:hover:scale-[1.01] md:active:scale-100;
  }
}
